* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(6px);
}

.navbar {
  text-align: center;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.item {
  text-decoration: none;
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px rgba(255, 200, 0, 0.0) solid;
  transition: 0.5s;
}

#first-item {
  margin-left: 0;
}

.item:hover {
  color: rgb(255, 200, 0);
  padding-bottom: 8px;
  border-bottom: 2px rgba(255, 200, 0, 1.0) solid;
}

main {
  display: flex;
  width: 100%;
  height: 650px;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.site-link {
  display: flex;
  height: 80px;
  width: 320px;
  background-image: url('Rectangle19.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 3px 80px;
  align-items:center;
  transition: 0.6s;
}

.site-link:hover {
  background-size: 320px 80px;
}

.link-item {
  color: white;
  text-decoration: none;
  margin: 0 0px 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: right;
  line-height: 1.4rem;
  transition: 0.3s;
}

.link-item:hover {
  color: black;
}

#second {
  margin-top: 30px;
}

.links {
  width: 320px;
  height: 190px;
  margin: 350px 80px 0 auto;
}

#first-link {
  padding: 18px 30px 18px 90px;
}

#second-link {
  padding: 18px 30px 18px 60px;
}

.burger {
  margin: 20px auto 0 80px;
  width: 20px;
  height: 20px;
}
.burger-line {
  margin-top: 7px;
  width: 100%;
  height: 2px;
  background-color: white;
}
#upper-line {
  margin-top: 0;
}

@media screen and (max-width: 899px) {
  .navbar {
    display: none;
  }
  .links {
    margin: 300px auto 0 auto;
  }
}

@media (min-width: 900px) {
  .burger {
    display: none;
  }
}